@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #000;
  background-color: #F2F2F2;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  margin-bottom: -10px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 10px;
}

.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.navigation-link {
  display: block;
  padding: 0 20px;
  font-family: "PT Sans", sans-serif;
  line-height: 64px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 485px;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 282px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  color: #333333;
  background-color: #ffffff;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000;
}

.about-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333;
}

/*.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  list-style: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}*/

.advantages-list-first-line {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  min-height: 384px;
  background-color: #82B3D3;
  color: #fff;
}

.advantages-list-second-line {
  display: flex;
}

.advantages-list-third-line {
  display: flex;
  background-color: #82B3D3;
  color: #fff;
}

.advantages-list-fourth-line {
  display: flex;
}

.advantages-item {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 384px;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}
